@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image{
    background-image: url('../../public/images/cover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    margin-top: -15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }